@font-face {
    font-family: 'dinregular';
    src: url('fonts/ufonts.com_din-regular_1_-webfont.eot');
    src: url('fonts/ufonts.com_din-regular_1_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ufonts.com_din-regular_1_-webfont.woff') format('woff'),
         url('fonts/ufonts.com_din-regular_1_-webfont.ttf') format('truetype'),
         url('fonts/ufonts.com_din-regular_1_-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import 'jquery.vegas.less';
@import 'reset.less';

.clearfix() {
	*zoom:1;
	
	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}

/* colors */
@grey: #3f3e40;

body {
	font: 18px/1.375 dinregular, sans-serif;
	color: @grey;
}

nav {
	.clearfix;
	width: 100%;
	background: #c2c2c2;
	font-size: 16px;

	ul {
		float: right;
		li {
			display: inline-block;
			a {
				display: block;
				padding: 10px;
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&.second-level {
		display: none;
		background: #e2e2e2;
		height: 42px;

		ul { display: none; }
	}
}

#main {
	width: 100%;

	h1.gae-logo {
		width: 350px;
		height: 230px;
		background: url('images/logo-ombra.png') no-repeat center center;
		position: absolute;
		top: 70px;
		left: 100px;
		span { display: none; }
	}

	.content {
		position: absolute;
		width: 45%;
		top: 200px;
		left: 10%;

		h2 {
			text-transform: uppercase;
			padding-bottom: 20px;
		}
	}

	.products-list {
		max-width: 1024px;
		padding: 0 2%;
		margin: 40px auto 0;
		.product {
			.clearfix;
			margin-bottom: 40px;
			.product-image {
				width: 33%;
				margin-right: 2%;
				float: left;
				min-height: 200px;
				background: #e2e2e2;
				border-radius: 5px;
			}
			.product-info {
				width: 64%;
				float: left;
				h2 {
					margin-bottom: 20px;
				}
				p {
					line-height: 1.375;
				}
			}
		}
	}
}