@import 'http://fonts.googleapis.com/css?family=Lato';
@import 'jquery.vegas.less';
@import 'reset.less';

.clearfix() {
	*zoom:1;
	
	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}

body {
	font: 14px/1.375 Lato, sans-serif;
}

nav {
	.clearfix;
	width: 100%;
	background: #c2c2c2;

	ul {
		float: right;
		li {
			display: inline-block;
			a {
				display: block;
				padding: 10px;
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&.second-level {
		display: none;
		background: #e2e2e2;
		height: 39px;

		ul { display: none; }
	}
}

#main {
	width: 100%;
	position: relative;

	h1.gae-logo {
		width: 350px;
		height: 230px;
		background: url('images/logo-ombra.png') no-repeat center center;
		position: absolute;
		top: 30px;
		left: 100px;
		span { display: none; }
	}

	.products-list {
		max-width: 1024px;
		padding: 0 2%;
		margin: 40px auto 0;
		.product {
			.clearfix;
			margin-bottom: 40px;
			.product-image {
				width: 33%;
				margin-right: 2%;
				float: left;
				min-height: 200px;
				background: #e2e2e2;
				border-radius: 5px;
			}
			.product-info {
				width: 64%;
				float: left;
				h2 {
					margin-bottom: 20px;
				}
				p {
					line-height: 1.375;
				}
			}
		}
	}
}